.DS_Store
.DS_Store
._*
.Spotlight-V100
.Trashes

Thumbs.db
desktop.ini

__pycache__/
*.py[cod]
*$py.class

venv/
.env/

# VS Code
.vscode/

# JetBrains (PyCharm, IntelliJ)
.idea/

# Logs & Temporary Files
*.log
*.tmp

# Compiled Code
*.o
*.out
*.so
*.a
*.exe
